<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RincovitchTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RincovitchTools.Properties.Settings>
            <setting name="CurentPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CombineName" serializeAs="String">
                <value />
            </setting>
            <setting name="CombineNameInfo" serializeAs="String">
                <value />
            </setting>
            <setting name="CreateSeparate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ProjectCode" serializeAs="String">
                <value />
            </setting>
            <setting name="PDF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DWG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveSameFolder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectBy" serializeAs="String">
                <value />
            </setting>
            <setting name="SheetSelected" serializeAs="String">
                <value />
            </setting>
            <setting name="ViewSelected" serializeAs="String">
                <value />
            </setting>
            <setting name="UseCombineName" serializeAs="String">
                <value>True</value>
            </setting>
        </RincovitchTools.Properties.Settings>
    </userSettings>
</configuration>